h1 {
width: 50%;
height: 60px;
display: inline;
padding: 20px;
}

div.centered{
margin-left: auto;
margin-right: auto;
width: 35em;
}

myp1{
width:50%;
display: inline;
padding: 10px;
}

h2 {
width: 90%;
height: 5px;
}